.activity-container {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.example {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.example-lvl-container {
  height: 10px;
  width: 10px;
  opacity: 0.8;
  margin-top: 3px;
}

.example-lvl-span {
  color: gray;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
}

.fill-lvl0 {
  background: var(--lvl-0);
}

.fill-lvl1 {
  background: var(--lvl-1);
}

.fill-lvl2 {
  background: var(--lvl-2); 
}

.fill-lvl3 {
  background: var(--lvl-3);
}

.activity-day-row {
  height: 10px;
}

.activity-table {
  width: max-content;
}

.activity-day {
  width: 10px;
}

.week-span {
  position: absolute;
  font-size: 12px;
  bottom: -3px;
}

.week-td {
  width: 30px;
  position: relative;
}