.activity-container {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 4px;
}

.fill-lvl0 {
  background: var(--gray);
}

.activity-day-row {
  height: 10px;
}

.activity-table {
  width: max-content;
}

.activity-day {
  width: 10px;
}

.week-span {
  position: absolute;
  font-size: 12px;
  bottom: -3px;
}

.week-td {
  width: 30px;
  position: relative;
}