.large {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: var(--gradient-main);
  -webkit-background-clip: text;
  background-clip: text;
}

.medium {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 600;
}
