.main-text {
  margin-bottom: 16px;
}

.main-me-image {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  margin-bottom: 1rem;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-button {
  margin-top: 2rem;
}
