.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner-large:after {
  width: 64px;
  height: 64px;
}

.spinner-medium:after {
  width: 32px;
  height: 32px;
}

.spinner:after {
  content: " ";
  display: block;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--gradient-color-1) transparent var(--gradient-color-2)
    transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
