.statistic-btn {
  min-height: 107px;
  padding: 10px 4px;
  font-weight: normal;
  font-size: large;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.statistic-btn-container {
  z-index: 2;
  position: absolute;
  transform: translate(-100%);
  bottom: 130px;
}

.panel-container {
  transition: all 0.3s;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  height: 100dvh;
  background: var(--bg-color);
  max-width: 750px;
  width: 50%;
}

#panel-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: auto;
}

#panel-overlay {
  overflow: hidden;
}

.body-overflow-hidden {
  overflow: hidden;
}


.panel-open {
  width: 50%;
}

.panel-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.panel-loading-text {
  font-size: 2rem;
}

.panel-content {
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
}

.panel-stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.panel-closed {
  width: 0;
}

@media (max-width: 1000px) {
  .panel-open {
    width: 80%;
  }

  .panel-stats-text {
    text-align: center;
  }
}
