:root {
  --bg-color: #1f1f1f;
  --primary-text: #1f1f1f;
  --primary-bg: #be73d8;
  --text-color: #f5f5f5;
  --gradient-main: linear-gradient(128.87deg, #9780e5 14.05%, #e666cc 89.3%);
  --gradient-main-vise: linear-gradient(
    128.87deg,
    #e666cc 14.05%,
    #9780e5 89.3%
  );
  color-scheme: dark;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  padding: 0;
  margin: 0;
  height: 100dvh;
  font-family: "Open Sans", sans-serif;
}

#root {
  width: 100%;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

button {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
